<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-field-gap">
  <app-form-field label="Email Address" for="login-email" [errorText]="emailErrorText()">
    <app-text-input
      id="login-email"
      type="email"
      formControlName="email"
      placeholder="student@email.com"
      autocomplete="email"
      [invalid]="!!emailErrorText()"
    />
  </app-form-field>

  <app-form-field label="Password" for="login-password" [errorText]="passwordErrorText()">
    <app-password-input
      id="login-password"
      formControlName="password"
      placeholder="password"
      autocomplete="current-password"
      [invalid]="!!passwordErrorText()"
    />
  </app-form-field>

  <div class="flex justify-end">
    <app-text-link label="Forgot Password?" routerLink="/forgot-password" [comingSoon]="false" />
  </div>

  <div class="relative">
    <app-button
      label="Sign In"
      type="submit"
      [disabled]="!isFormValid()"
      [loading]="isSubmitting()"
    />
    <app-tooltip
      [visible]="showServerErrorTooltip()"
      [text]="serverError() ?? ''"
      variant="error"
      (dismiss)="onServerErrorDismiss()"
    />
  </div>

  <div class="flex items-center gap-4 my-4">
    <div class="flex-1 border-t border-gray-300"></div>
    <span class="text-gray-500 text-sm">OR</span>
    <div class="flex-1 border-t border-gray-300"></div>
  </div>

  <div class="relative">
    <app-button
      label="Continue with Google"
      variant="outline"
      customIcon="./assets/images/google_icon.png"
      [disabled]="false"
      (clicked)="onGoogleSignIn()"
    />
    <app-tooltip
      [visible]="showComingSoon()"
      text="Coming soon"
      variant="info"
      (dismiss)="onComingSoonDismiss()"
    />
  </div>

  <app-auth-footer-link
    promptText="Don't have an account?"
    actionText="Sign Up"
    (actionClick)="navigateToSignUp.emit()"
  />
</form>
