 @if (emailSent()) {

  <p>Email sent! Check your inbox.</p>
  
} @else {
    
 <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex w-full flex-col gap-4">
    <app-form-field 
     label="Email Address" 
     for="forgot-password" 
     [errorText]="emailErrorText()"
    >

    <app-text-input
      id="forgot-password-email"
      type="email"
      formControlName="email"
      placeholder="yourname@email.com"
      autocomplete="email"
      [invalid]="!!emailErrorText()"
    />

  </app-form-field>

    <div class="relative">

    <app-button
      label="Send Reset Link"
      type="submit"
      [disabled]="!isFormValid()"
      [loading]="isSubmitting()"
    />

  </div>

  </form>

}
 
