<div class="flex flex-col gap-6 p-4">
  @if (currentUser; as user) {
    <app-tooltip
      [visible]="showComingSoon()"
      text="Coming Soon ..."
      variant="info"
      (dismiss)="onServerErrorDismiss()"
    />
    <div>
      <app-profile-header
        [name]="currentUser?.fullName || ''"
        [subtitle]="department()"
        (editAvatar)="onEditAvatar()"
      />

      <div class="flex items-center justify-center gap-6 px-4 mb-6">
        @for (userEvent of eventData(); track $index){
          <app-text-data
            [value]="userEvent.Value"
            [topic]="userEvent.Topic"/>
        }
      </div>

      <div class="px-1 mt-2">
        <h3 class="text-xs font-bold text-gray-400 uppercase tracking-widest">My Interests</h3>
      </div>

      <div class="flex gap-3 items-center justify-start my-2">
        @for (userInterests of interests(); track $index){
          <app-text-data
            [topic]="userInterests"
            [height]="'8'"
            [width]="'auto'"/>
        }
        <app-text-data
          topic="Edit"
          [editable]="true"
          [height]="'8'"
          [width]="'auto'"/>
      </div>

<!--      <div class="-mx-4 mt-1 mb-4">-->
<!--        <hr class="border-gray-200 border-t-3" />-->
<!--      </div>-->

      <div class="mt-4">
        <app-edit-text-input label="Full Name" [(value)]="fullName" />
        <app-edit-text-input label="Email Address" type="email" [(value)]="email" />
        <app-edit-text-input label="Department" [(value)]="department" />

        <div class="mt-6">
          <app-button
            label="Save"
            variant="secondary"
            class="!bg-slate-200 !text-slate-500 font-semibold"
            [fullWidth]="true"
            textColor="text-gray-400 border-gray-100 bg-[#cbd5e1] hover:bg-[#e2e8f0]"
            (clicked)="onSave()"
          />
        </div>
      </div>
    </div>

    <div>
      <div class="px-1 pb-2">
        <h3 class="text-xs font-bold text-gray-400 uppercase tracking-widest">Security</h3>
        <div class="-mx-4 mb-6 mt-1">
          <hr class="border-gray-200 border-t-3" />
        </div>
        <app-security-link label="Change Password" icon="Lock" (clicked)="onChangePassword()" />
      </div>
    </div>

    <div class="relative">
      <app-button
        label="Sign Out"
        variant="outline"
        icon="LogOut"
        textColor="text-white border-red-200 bg-red-700 hover:bg-red-20"
        [disabled]="false"
        (clicked)="signOut()"
      />
    </div>
  } @else {
    <p class="text-text-secondary" data-testid="account-no-session">You are not signed in.</p>
  }
</div>
